body {
    margin: 0;
}
.color-body {
        height: 100vh;
        background-color: #f8f8f8;
}

.app-font{
        font-family: 'Courgette', cursive;
        /* font-family: 'Noto Kufi Arabic', sans-serif; */
}

.app-btn-color {
        border: none;
        border-radius: 8px;
        color: white;
        background-color: #224f61;
        padding: 8px;
}

.app-btn-color:hover {
                  color: rgb(148, 148, 162);
}







/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
